<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOBU</title>
    <style>
        /* Styles CSS */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        header {
            background-color: #333;
            color: #fff;
            padding: 10px;
            text-align: center;
        }
        nav {
            background-color: #666;
            padding: 10px;
            text-align: center;
        }
        nav a {
            color: #fff;
            text-decoration: none;
            margin: 0 10px;
        }
        section {
            padding: 20px;
        }
        .image {
            max-width: 100%;
            height: auto;
            /* Définir une taille pour les images */
            width: 300px; /* Définir la largeur */
            height: 200px; /* Définir la hauteur */
        }
        footer {
            background-color: #333;
            color: #fff;
            padding: 10px;
            text-align: center;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body>
    <header>
        <h1>HOBU</h1>
    </header>
    <nav>
        <a href="/Home/Index">Home</a> 
    </nav>
    <section>
        @using hobu.Models
        @model Utilisateur

        @using (Html.BeginForm("Create", "User", FormMethod.Post))
        {
            @Html.LabelFor(model => model.Nom)
            @Html.TextBoxFor(model => model.Nom)
            @Html.LabelFor(model => model.Prenom)
            @Html.TextBoxFor(model => model.Prenom)
            <input type="submit" value="Enregistrer" />
        }
    </section>
    <footer>
        <p>&copy; 2024 HOBU</p>
        <p>All right reserved</p>
    </footer>
</body>
</html>






